html(lang='en-US')
  head
    block head
      title #{title}
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      meta(name='description', content= description)
      meta(property='og:type', content= type)
      meta(property='og:title', content= title)
      meta(property='og:description', content= description)
      meta(property='og:image', content= image)
      meta(property='og:image:alt', content= alt)
      meta(name='twitter:card', content= card)
      link(rel='canonical', href= locals.root + path)
      link(rel='stylesheet', href='/css/styles.css')
      script(type='text/javascript', src='/js/app.js')
  body
    block body
